.mycontainer {
    display: flex;
    flex-grow: 1;
}

.inner-container {
    text-align: center;
    display: table;
    background: #fff;
    border: 1px solid #d8dee2;
    margin: 10% auto 0;
    border-radius: 10px;
    padding: 20px;
}

.docs{

    border: 1px solid #aeaeae;
    border-radius: 20px;
    padding: 15px 25px;
    width: 300px;
    min-height: 200px;
    background-color: white;
    margin-top: 10px;
}