<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">

    <title>Test Task</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="background-color: #6088c3">

<div style="background-color: #6088c3">

    <div style="width: 280px; background-color: white; position: absolute">
        <p> Вітаю Вас!</p>
        <p> Це тестове завдання для Integrity Vision LLC.</p>
        <p> Реалізовані функції:</p>
        <p> 1) Відобразити всі пакети документів клієнта по його INN(введіть INN та натисніть пошук).</p>
        <p> 2) При внесенні змін в пакет документів обновлоювати версію та створювати копію(введіть нове ім'я та
            паспортні дані).</p>
        <p>INN які присутні в базі:</p>
        <th:block th:each="allInn : ${allInn}">
                <p th:text="${allInn}"></p>
        </th:block>
    </div>


    </div>
    <div class="mycontainer">
        <div class="inner-container">

            <form action="/" method="POST">
                <h5>Вивести документи по INN</h5>

                <div>
                    <label>INN</label>
                    <input id="inn" name="inn">
                </div>
                <div style="margin-top: 10px">
                    <button type="submit">Пошук</button>
                </div>
            </form>

            <form action="/edit" method="POST">
                <h5>Змінити ім'я, паспортних даних пакету документів по INN</h5>

                <div>
                    <label>INN</label>
                    <input name="inn">

                    <label>ФИО</label>
                    <input name="name">

                    <label>Паспортні дані</label>
                    <input name="data">

                </div>
                <div style="margin-top: 10px">
                    <button type="submit">Змінити</button>
                </div>
            </form>

        </div>
    </div>
</div>
</body>
</html>
