<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet"
          type="text/css"
          th:href="@{/css/style.css}">

    <title>Test Task</title>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body style="background-color: #6088c3">
<div style="background-color: #6088c3">
    <div>
        <div>
            <h1 style="text-align: center" th:text="'Hello, ' + ${inn} + '!'"/>
            <div>
                <th:block th:each="package : ${package}">
                    <div class="docs inner-container">
                        <div th:text="'Наименование документа:'+${package.getDocumentTitle()}"></div>
                        <div th:text="'ФИО:'+${package.getClientName()}"></div>
                        <div th:text="'ИНН:'+${package.getInn()}"></div>
                        <div th:text="'Паспортные данные:'+${package.getPassport()}"></div>
                        <th:block th:each="document : ${package.getChild_component()}">
                            <div>
                                <div th:text="'Номер счета:2 15'+${document.getAccountNumber()}"></div>
                                <div th:text="'Валюта:'+${document.getCurrency()}"></div>
                                <div th:text="'Тип продукта: '+${document.getProductType()}"></div>
                            </div>
                        </th:block>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</div>
</body>
</html>
